body{
    background-color: blueviolet;
    color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}
h3{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.{
    
    box-sizing: border-box;
}
.parent{
    display: flex;
}
.child{
    border: 1px solid blanchedalmond;
    float: left;
    width: 50%;
   

}