#container{
    border: solid red 2px;
    
}
#wrapper{
    border: solid black 2px;
    background-color:#032555;
    text-align: center;
    color: #EDF5F9;
}
section{
    border: solid bisque 2px;
}
h2{
    text-align: center;
    font-size: 2em;
}
img{
    width: 250px;
    height:350px
}
p{
    font-size:0.5cm;
}
footer{
    border: solid black 2px;
    background-color: #032555;
    color: #EDF5F9;

}
.footer-section{
    text-align: center;
    color: #032555;
}